@import "../common";

mat-list {
  background: rgba(0, 0, 0, 0.2);
  max-width: 360px;
}

mat-list-item {
  span {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &:hover,
    &.active {
      color: map_get($rally-green-palette, A500);
    }
  }
}

button {
  margin-left: auto;
  margin-right: auto;
  min-width: inherit;
  padding: 0 0.7rem;
}
