<!--<h1 class="mat-headline">The quick brown</h1>
<h2 class="mat-title">The quick brown fox </h2>
<h3 class="mat-subheading-2">The quick brown fox jumps over the lazy dog.</h3>
<h4 class="mat-subheading-1">The quick brown fox jumps over the lazy dog.</h4>
<div class="mat-body-1">{{message}}</div>
<div class="mat-body-2">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu sem molestie, laoreet massa vitae, maximus ipsum. Vivamus lacus lectus, feugiat pharetra enim sit amet, mollis porttitor orci. Nullam pharetra molestie leo, in semper velit placerat aliquet. Integer eu rhoncus est. Nam bibendum, lectus nec ornare commodo, massa ligula dignissim est, eget molestie orci turpis non dui. Sed volutpat, metus at eleifend ultricies, nibh risus malesuada arcu, id pretium mi felis et justo. Nulla tristique elementum risus et iaculis. Praesent et elit purus. Vivamus tortor arcu, mollis nec sapien non, venenatis posuere neque. Donec venenatis scelerisque est, eu luctus velit blandit et. Aliquam id ultrices neque. Etiam enim lacus, lobortis at placerat vel, suscipit et nisi. Donec vitae justo et felis ultricies pretium.
</div>

<div style="width: 350px">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><span color="accent">Shiba Inu</span></mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content >
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent">LIKE</button>
      <button mat-button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>-->


<router-outlet></router-outlet>
