$rally-green-palette: (
  50: rgb(182, 255, 242),
  100: rgb(135, 254, 225),
  200: rgb(92, 247, 210),
  300: rgb(53, 239, 186),
  400: rgb(1, 228, 168),
  500: rgb(31, 185, 128),
  600: rgb(2, 156, 104),
  700: rgb(3, 125, 82),
  800: rgb(0, 95, 53),
  900: rgb(0, 57, 29),
  A300: rgb(53, 239, 186),
  A500: rgb(31, 185, 128),
  A700: rgb(3, 125, 82),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: white,
    800: white,
    900: white,
    A100: black,
    A500: black,
    A700: white,
  )
);


$rally-orange-palette: (
  50: rgb(255, 215, 208),
  100: rgb(255, 179, 166),
  200: rgb(255, 133, 124),
  300: rgb(255, 104, 89),
  400: rgb(255, 53, 33),
  500: rgb(255, 5, 0),
  600: rgb(223, 0, 1),
  700: rgb(181, 0, 0),
  800: rgb(140, 0, 0),
  900: rgb(98, 0, 2),
  A50: rgb(255, 215, 208),
  A200: rgb(255, 133, 124),
  A300: rgb(255, 104, 89),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: white,
    800: white,
    900: white,
    A50: black,
    A200: black,
    A300: black,
  )
);

$rally-purple-palette: (
  50: rgb(222, 202, 247),
  100: rgb(203, 154, 248),
  200: rgb(177, 93, 255),
  300: rgb(169, 51, 255),
  400: rgb(164, 1, 255),
  500: rgb(160, 0, 241),
  600: rgb(146, 0, 200),
  700: rgb(127, 1, 159),
  800: rgb(99, 0, 124),
  900: rgb(70, 0, 82),
  A50: rgb(222, 202, 247),
  A200: rgb(177, 93, 255),
  A300: rgb(169, 51, 255),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: white,
    800: white,
    900: white,
    A50: black,
    A200: black,
    A300: black,
  )
);
