@import '~@angular/material/theming';
@import "common";

@font-face {
  font-family: 'RobotoCondensedLight';
  src: url("../assets/RobotoCondensed-Light.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url("../assets/RobotoCondensed-Regular.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url("../assets/RobotoCondensed-Regular.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'EczarRegular';
  src: url("../assets/Eczar-Regular.ttf");
  font-weight: bold;
}

$custom-typography: mat-typography-config(
  $font-family: 'RobotoCondensedLight',
  $headline: mat-typography-level(96px, 96px, 400),
  $title: mat-typography-level(60px, 60px, 400),
  $subheading-2: mat-typography-level(48px, 48px, 400, 'EczarRegular'),
  $subheading-1: mat-typography-level(34px, 34px, 400, 'RobotoCondensedRegular'),
  $body-1: mat-typography-level(16px, 16px, 400, 'EczarRegular'),
  $body-2: mat-typography-level(14px, 14px, 400, 'RobotoCondensedLight'),
  $button: mat-typography-level(14px, 14px, 400, 'RobotoCondensedBold')
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$candy-app-primary: mat-palette($mat-indigo);
$app-primary: mat-palette($rally-green-palette, A500, A300, A700);
$app-accent:  mat-palette($rally-purple-palette, A200, A50, A300);

// The warn palette is optional (defaults to red).
//$app-warn:    mat-palette($mat-red);
$app-warn:    mat-palette($rally-orange-palette, A200, A50, A300);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
